html {
    font-size: 16px;
    font-family: 'Open Sans' sans-serif;
    background-color: burlywood;
    background-image: url(background.jpg);
    width: 100%;
    height: 100%;
    margin: 50px auto;
}

body {   
  color: whitesmoke;
  width:  500px; 
  text-align: center;
}

h1 {
    font-size: 60px;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px; 
}

.aboutme{
    height: 100%
    text-align: center;
    background-color: magenta;
    color: #fff;
    font-size: 20px;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 20px;
}
