html {
    min-height: 100%;
    overflow: hidden;
    height: 100%;
 
}

body {
    color: #fff;
    background-color:#e66d4e;
    margin: auto;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    font-family: "Luna", sans-serif;
}

.mainbody {
    background-image: url(background.jpg);
    height: 100%;
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    
    bottom: 0;
    content: "";
    left: 0;
    position: absolute; top: 0px;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    background-size: auto;
    transform-origin: center center 0;
    z-index: -100;
    min-height: 100vh;
}

.myname {
    font-size: 60px;
    text-align: center;

}

.myschool {
    font-size: 30px;
    text-align: center;
    font-style: italic;
}

button {
  background-color: #b91a2e;
  border: 2px solid #b91a2e;
  border-radius: 12px;
  padding: 15px 32px;
  text-align: right;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;  
  margin: 5px; 
}

.right {
    float: right;
}

.left {
    float: left;
}

.nametitle {
    color: #f15e54;
}
button:hover {
  background-color: #eaaeae; 
}

a {
    color: white;
    text-decoration: none;
}

.orange {
    color: #eaaeae;
}

.purplebox {
    margin: auto;
    background-color:#946982;
    border-radius: 20px;
    min-height: max-content;
    width: 60%;
    padding-left: 2%;
    padding-right: 2.5%;
    padding-bottom: 20px;
    float: center;
}
.aboutme{
    height: 107%
}
.purplebox h2 {
    color: #fff;
    font-family: 'MontSerrat', sans-serif;
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
}

.purplebox h3 {
    color: #fff;
    font-family: 'MontSerrat', sans-serif;
    font-style: italic;
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
}

.purplebox p {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    z-index: 0;
    padding-right: 35px;
    padding-left: 35px;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
}

.projects p{
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 24px;
}

.projects{
    height: 300%;
}

/*.interestbackground {
    width: 500px;
    height: 25%;
    background-image: linear-gradient(#e66d4e,yellow);
}*/

.box-img {
    border-radius: 10%;
    width: 25px;
    height: 25px;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
    padding-right: 50px;

}

img.smallimg:hover{
    width:50px;
    height:auto;
    opacity: 0.4;
    transition-duration: 1s;
    color: #0077B5;
}

.linkedin:hover {
    color: #0077B5;
}

.facts{
    display: none;
}
.true{
    align-content: flex-end;

}

.fade{
    animation: fade 6s linear;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

h4 {
    margin-top: -10px;
    padding-top: 0;
    text-align: center;
    font-style: italic;
}
