html {
    min-height: 100%;
    overflow: hidden;
    height: 100%;
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    font-family: "Luna", sans-serif;
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    
    bottom: 0;
    content: "";
    left: 0;
    position: absolute; top: 0px;
    right: 0;
    top: 0;
    display: block;
    background-image: url(background.jpg);
    height: 100%;
    background-size: auto;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -100;
    min-height: 100vh;
}

.nametitle p {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 0, 0;
    border-right: rgba(255, 255, 255, 0.75);
    position: relative;
    top: 50%;
    width: 34em;
    margin: 1em auto;
    border-right: 2.5px solid rgba(255, 255, 255, 0.75);
    font-size: 110%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden; transform: translateY(-20%);
}

.aboutme {
    text-align: center;
    background-color: #000;
    height: 100%;
}
.aboutme h2 {
    color: #fff;
    font-family: 'MontSerrat', sans-serif;
    padding-top: 20px;
}
.aboutme p {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    z-index: 0;
    padding-right: 35px;
    padding-left: 35px;
    font-size: 20px;
}
